.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}

.cards_box{
    background-color: #00BFA6;
    width: 270px;
    height: 500px;
}

.cards_box-img{
    display: block;
    margin: 30px auto;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}